/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* A universal selector will select each and every element on the page and then
apply these decorations to it. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
        rgba(126, 213, 111, 0.80), 
        rgba(40, 180, 133, 0.80)), 
        url("../img/hero.jpg");
    /* cover takes whatever the width of the viewport and it will try to fit the elment inside the box */
    background-size: cover;
    /* ensures the top of the image stays the same within the vh */
    background-position: top;
    position: relative;
    /* clip a portion of the image which starts from top left corner and clockwise direction */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    
    backface-visibility: hidden;
    margin-bottom: 60px;
}

/* create a block display */
.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    /* enter in the animation name and duration */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.heading-primary-sub {
    display: block;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 17.4px;
    /* enter in the animation name and duration */
    animation: moveInRight 1s ease-in-out;
}

/* animation for header */
@keyframes moveInLeft {
    /* start of animation, the opacity will be none*/
    0% {
        opacity: 0;
        /* x is from left to right, y goes top to bottom */
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(5px);
    }

    /* end of animation - opacity will be 1 */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* start of animation, the opacity will be none*/
    0% {
        opacity: 0;
        /* x is from left to right, y goes top to bottom */
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-5px);
    }

    /* end of animation - opacity will be 1 */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* pseudoclass is a state element */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: #ffffff;
    color: #777;
}