// mixins are reusable codes
@mixin clearfix {
    // clearfix appends a pseudo element after the element that clears the floats
    &::after {
        content: ""; // empty pseudo code
        display: table;
        clear: both; // clear both floats left and right
    }
}

// center horizontally
@mixin centerHorizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// ORDER: Base + Typography > general layout + grid > components




// Media Query Manager
/*
0 - 600px:          PHONE
600 - 900px:        Table Portrait Mode
900 - 1200px:       Table Landscape Mode
[1200 - 1800px]:    Normal Style Applies - Desktop
1800px + :          Big Desktops
*/


// breakpoint argument choices
/*
- phone
- tab-port
- tab-land
- big-desktop
*/

// Respond Mixin with a breakpoint parameter
@mixin respond($breakpoint) {
    // If Directive - if breakpoint is true (breakpoint size), do this

    // Phone - less than 600px
    @if $breakpoint == phone {
        // lets use pass a block of code into the mixin with CONTENT
        @media (max-width: 37.5em) { @content }; 
    }

    // Tablet Portrait - less than 900px
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; 
    }

    // Tablet Landscape - less than 1200px
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; 
    }

    // Big Desktop - larger than 1800px
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; 
    }
    
}