.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, 
        rgba($color-primary-light, 0.80), 
        rgba($color-primary-dark, 0.80)), 
        url("../img/hero.jpg");
    /* cover takes whatever the width of the viewport and it will try to fit the elment inside the box */
    background-size: cover;
    /* ensures the top of the image stays the same within the vh */
    background-position: top;
    position: relative;
    /* clip a portion of the image which starts from top left corner and clockwise direction */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    // nested headers
    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    &__logo {
        height: 35px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}