/* pseudoclass is a state element */
// buttons
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.2) scaleY(1.1);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &-white {
        background-color: $color-text-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-text-white;
        }
    }

    &-green {
        background-color: $color-primary;
        color: $color-text-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        /* set this element behind the button */
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInBottom 1s ease-out;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
        border-radius: 2px;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-text-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15); // x y blue color 
        transform: translate(-2px);
    }

    &:active {
        box-shadow: 0 0.5em 1rem rgba($color-black, .15); // x y blue color 
        transform: translate(0);
    }
}