.composition {

    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.40);
        border-radius: 2px;
        position: absolute;
        outline-offset: 1rem;

        &-p1 {
            left: 0;
            top: -2rem;
        }

        &-p2 {
            right: 0; // start at 0 pixels of the right side container
            top: 2rem;
        }

        &-p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.0rem solid $color-primary; // creates a border
            transform: scale(1.05) translateY(-.5rem); // make it bigger and put it up a little bit
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.50);
            z-index: 20;
        }
    }
    // on the hover of the composition div, then select the composition hovered that's not hovered,
    // scale down the photo that is not hovered.
    // composition:hover composition__photo:not(:hover)
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}