/* A universal selector will select each and every element on the page and then
apply these decorations to it. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}