body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-text-white;
    text-transform: uppercase;
    
    backface-visibility: hidden;
    margin-bottom: 60px;

    /* create a block display */
    &-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        /* enter in the animation name and duration */
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;

        // respond mixin for Phone breakpoint
        @include respond(phone) {
            letter-spacing: 1rem; // decrease letter spacing
            font-family: 5rem; // decrease font family size
        }
    }

    &-sub {
        display: block;
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 17.4px;
        /* enter in the animation name and duration */
        animation: moveInRight 1s ease-in-out;

        // respond mixin for Phone breakpoint
        @include respond(phone) {
            letter-spacing: .5rem;
            font-family: 5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    // respond mixin for Tablet Portrait breakpoint
    @include respond(tab-port) {
        font-size: 3rem;
    }

    // respond mixin for Phone breakpoint
    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1); // rotating the letters on hover
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) { // everything except the last child
        margin-bottom: 3rem;
    }
}